body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    transition: background-color 0.4s ease;
    display: flex;
    align-items: center;
}

h1 {
    border-right: 3px solid grey;
}

#myParagraph {
    font-size: 18px;
    color: black;
}

#myDiv {
    margin-top: 20px;
    padding: 10px;
    background-color: #a0a0a0;
    border: 1px solid #a1a1a1;
}

img {
    margin-top: 20px;
    max-width: 300px;
    border: 1px solid #a2a2a2;
}

label, input[type="color"] {
    margin: 10px 5px;
    display: inline-block;
}

button {
    margin: 10px 5px;
    padding: 10px;
    cursor: pointer;
}