body {
  font-family: 'Courier New', Courier, monospace
  background: #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: white;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px black;
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid silver;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: none;
  background: blue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: blueviolet;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
