body {
    font-family: 'Courier New', Courier, monospace
    background-color: #a0a0a0;
    margin: 40px;
}

h1 {
    text-align: center;
    color: black;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;
    margin-bottom: 20px;
    background: white;
    padding: 16px;
    border-radius: 10px;
}

label {
    font-size: 14px;
    color: black;
    display: block;
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
}

button {
    grid-column: 1 / -1;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: lightgrey;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0);
}

th, td {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: left;
}

th {
    background-color: lightskyblue;
    color: darkblue;
}